.layout {
  width: 100%;
  background-color: var(--subBackground);
  display: flex;
  justify-content: center;
  .setting {
    padding: 40px;
    width: 100%;
    max-width: 1000px;
    .info {
      margin-top: 25px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      .name {
        font-size: 26px;
        color: var(--foreground);
        font-weight: 500;
      }
      .data {
        display: flex;
        // justify-content: center;
        align-items: center;
        gap: 2px;
        font-size: 18px;
        font-weight: 500;
        color: var(--subForeground);
      }
    }
    .main {
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      .mainInfo {
        color: var(--accent);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        font-size: 19px;
        svg {
          font-size: 25px;
        }
      }
      .border {
        width: 100%;
        height: 1px;
        background-color: rgba(52, 52, 52, 0.1);
      }
    }
  }
}

@media (max-width: 600px) {
  .layout {
    .setting {
      background-color: var(--subBackground);
      padding: 20px;
      width: 100%;
      .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        .name {
          font-size: 22px;
          color: var(--foreground);
          font-weight: 500;
        }
        .data {
          display: flex;
          // justify-content: center;
          align-items: center;
          gap: 2px;
          font-size: 14px;
          font-weight: 500;
          color: var(--subForeground);
        }
      }
      .main {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        .mainInfo {
          color: var(--accent);
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 15px;
          font-size: 16px;
          svg {
            font-size: 20px;
          }
        }
        .border {
          width: 100%;
          height: 1px;
          background-color: rgba(52, 52, 52, 0.1);
        }
      }
    }
  }
}
